<div class="row">
  <div class="jumbotron">
    <h4>Artist name: <i><%= @artist.name() %></i></h4>
    <% @cds = @artist.cds() %>
    <% @cds.each() do |cd| %>
      <% @cd = cd %>
      <h4>CD name: <i><%= @cd.title() %></i></h4>
      <h4>Number of songs: <i><%= @cd.num_songs() %></i></h4>
    <% end %>
  </div>
</div>
