<h1>Add a CD:</h1>

<form action="/cds" method="post">
  <div class="form-group">
    <label for="title">CD title:</label>
    <input id="title" name="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="num-songs">Number of songs:</label>
    <input id="num-songs" name="num-songs" type="number" class="form-control">
  </div>

  <button type="submit" class="btn bg-primary">Add CD</button>
</form>
