<h1>CD Organizer</h1>
<h1>Success!</h1>
<ul>
  <li><a href="/cds">See CD List</a></li>
  <li><a href="/cds/new">Add CD</a></li>
  <li><a href="/artists">See Artist List</a></li>
  <li><a href="/artists/new">Add Artist</a></li>
</ul>
